.chat-message-container{
  padding: 10px;
  border-radius: 6px;
  background-color: #f3f3f3;
}

h2{
  font-size: 1.1rem;
}
.slds-icon_container, .slds-icon__container{
  display: inline-block;
}

.einstein-icon {
  --sds-c-icon-color-foreground-default: #1b96ff;
}

.text-weak{
  color: #c9c9c9;
}